p {
    color:red;
    font-size: 25px;
    background-color: aqua;
}

.pg1 {
    background-color: rgb(32, 81, 172);
    border: 4px solid orange;
 } 


.pg2 {
    background-color: chocolate;
    border: 5px solid rgb(255, 23, 23);
}

#boldp {
    font-weight:bold;
}